{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href={% url 'home' %}>Boards</a></li>
    <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Topic</th>
        </tr>
      </thead>
      <tbody>
        {% for topic in topics %}
          <tr>
            <td>
              {{ topic.subject }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
